body {
   
    background-image:url('pix/ocean.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
}

.content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column: 1 / 6;
    /* grid-template-rows: repeat(4, 150px); */
}

.card-link {
    text-decoration: none;
}

.card {
    box-shadow: 
    0 4px 8px 0 rgba(0, 0, 0, 0.2),  
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link:hover {
    color: blueviolet;
}

h1 h2 h3 h4 {
font-family: 'Playfair Display', serif;
font-weight: 700;
font-style: italic;
}
